# Local Terraform directories
.terraform/
.terraform.lock.hcl

# Terraform state files and backups
*.tfstate
*.tfstate.*.backup
terraform.tfstate.backup
*.tfstate.lock.info

# Crash log files
crash.log
crash.*.log

# Variable files that may contain sensitive data
*.tfvars
*.tfvars.json

# Terraform override files (local overrides)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI configuration files
.terraformrc
terraform.rc

# VS Code directory (if applicable)
.vscode/

# Operating system specific files (e.g., Mac)
.DS_Store

# Ingnore Kind provider files
dev-cluster-config
uat-cluster-config
prod-cluster-config